{% extends 'base.html' %}
{% load static%}


{% block content%}
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <img src="{% static 'assets/img/multiple.png' %}" height=17% width=17%> <br> <br>
  <h3 style="color:white;"> Search simultaneously on Evaly, BD Shop, Gadget&Gear! </h3>
  <section>
    <div>
        <form action="{% url 'multiple_dataset' %}" class="search" method='GET'>
          <div class="input-group w-100">
              <input type="text" class="form-control" style="width:50%;" placeholder="e.g. Power Bank" name="keyword">
    
              <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">Search </button>
              </div>
            </div>
        </form> <!-- search-wrap .end// -->
      </div> <!-- col.// -->
    </section>

</div>
</section>

{% endblock %}